/* Flexible Slide-to-top Accordion Style*/
.st-accordion{
    padding: 0;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion > ul { margin: 0; padding: 0; list-style: none; }

.st-accordion ul li{
    padding: 0;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top: 1px solid #efefef;
}

.st-accordion ul li > a{
    padding: 18px 40px 18px 18px;
    font-size: 18px;
    font-weight: 300;
    color: #25aae1;
	text-decoration: none;
    display: block;
	position: relative;
    line-height: 24px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #25aae1;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    background-color: #efefef;
    font-weight: 700;
    color: #25aae1;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:18px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
.st-content ul { padding: 8px 0 8px 25px; list-style: disc; }
.st-content ul li { border: none; height: auto;  }
.st-content ul li:first-child { border: none; height: auto;  }
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}