/* CSS Document */

div.blog-entry {

  margin: 0 0 28px 0;
  padding: 0 0 28px 0;
  border-bottom: 1px solid #3faac2;

  a {

    .entry-content {

      .blog-title {
        font-family: 'Barrio', cursive;
        font-size: 28px;
        line-height: 28px;
        color: #3faac2;
      }

      .blog-desc {
        color: #333;
      }
    }

    &:hover {

      .entry-content {

        .blog-title {
          color: #333;
        }

        .blog-desc {

        }
      }
    }
  }
}