ul.cta-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    width: 31%;
    margin: 0 1%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;

      .cta-image {
        margin: 0 0 14px 0;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .cta-text {
        text-align: center;

        h3 {
          display: block;
          margin: 0 0 18px 0;
          color: #973e84;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 400;
          padding: 0 18px;
        }

        p {
          display: block;
          margin: 0;
          padding: 0 18px;
          color: #4ba2c1;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 300;
        }

      }

    }
  }
}