div.page-form {
  display: block;
  font-size: 14px;

  label {
    display: block;
    padding: 0;
    margin: 0;

    span {
      display:inline-block;
      padding: 5px 0 0 0;
      font-size: 14px;
    }

    div.input-wrapper {
      background-color: #efefef;
      padding: 8px;
      margin: 0;
      color: #333;
      border: 1px solid #25aae1;
    }
  }

  input {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color:#333;
  }

  input[type=checkbox] {
    display: inline-block;
    padding: 0;
    margin: 0 18px 0 0;
    width: auto !important;
  }

  select {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color:#333;
  }

  textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color:#333;
  }
}

div.std-captcha {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  margin: -8px -8px 8px -8px;
  padding: 8px 8px 0 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
}

.std-button {
  display: block;
  width: auto !important;
  background: #25aae1 !important;
  color: #fff !important;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 24px 12px 24px !important;
  margin: 0;
  cursor:pointer;
}

div.form-error {
  line-height: 22px;
  background-color: #FBE3E4;
  background-image: url('/images/system/error.gif');
  background-repeat: no-repeat;
  background-position: 10px 6px;
  padding: 3px 10px 3px 35px;
  color: #8a1f11;
  border: 1px solid #FBC2C4;
  margin: 8px 0 0 0;
}
