div.flexslider {
  margin: 0;

  ul.slides {

    li {
      position: relative;

      img {

      }

      div.caption-container {
        display: block;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        div.caption-table {
          display: table;
          width: 100%;
          height: 100%;

          div.caption-cell {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            div.slide-caption {

              span.title {
                font-family: 'Barrio', cursive;
                font-size: 100px;
                line-height: 100px;
                color: #fff;
              }

              span.text {
                display: block;
                width: 600px;
                margin: 45px auto;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                line-height: 24px;
                font-weight: 300;
                color: #ffffff;
              }

              a.slide-link {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                line-height: 18px;
                padding: 14px 24px;
                background: #3ba5bd;
                letter-spacing: 1px;
                color: #ffffff;
                text-decoration: none;
                pointer-events: auto;

                &:hover {
                  background: #2a7383;
                }
              }
            }
          }
        }
      }
    }

  }

  .flex-control-nav {
    bottom: 20px;
    z-index: 9;

    li {

      a {
        background: #fff;
        box-shadow: none;

        &.flex-active {
          background: #973e84;
        }
      }

    }
  }

  ul.flex-direction-nav {

    a {
      width: 75px;
      height: 36px;
      margin: -18px 0 0;
      background: none;
      cursor: pointer;

      &:before {
        content: "";
      }
    }

    li {
      &.flex-nav-prev {

        a.flex-prev {
          background-image: url('/images/display/slider-prev.png');
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      &.flex-nav-next {
        a.flex-next {
          background-image: url('/images/display/slider-next.png');
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &:hover {

    .flex-prev, .flex-next {
      width: 75px;
      height: 36px;
      padding: 0;
      opacity: 1;
      cursor: pointer;
    }

    .flex-prev {
      left: 20px;
    }

    .flex-next {
      right: 20px;
    }

  }
}