div.staff-entry {
  display: block;
  margin: 0 0 18px 0;
  padding: 0 0 18px 0;
  border-bottom: 1px solid #25aae1;
  font-size: 14px;
  color: #6d6e71;

  &:last-of-type {
    border-bottom: none;
  }

  div.staff-image {
    float: left;

    div.image-wrapper {
      width: 250px;

      /* If we want images locked to a certain ratio */
      /*height: 250px;*/
      /*overflow: hidden;*/

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  div.staff-info {
    padding: 0 0 0 268px;
  }
}

div.staff-name {
  font-size: 18px;
  font-weight: 700;
  color: #25aae1;
}


/** Default Media Queries **/
@media screen and (max-width:500px) {
  div.staff-entry {

    div.staff-image {
      float: none;
      width: auto;

      div.image-wrapper {
        width: 100%;
        margin: 0 0 18px 0;
        /* height: 250px; */
        /* overflow: hidden; */
      }
    }

    div.staff-info {
      padding: 0;
    }
  }
}