ul.testimonials-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 24px 0;
    border-bottom: 1px solid #efefef;
    margin: 0;
    font-style: italic;

    &:last-of-type {
      border-bottom: none;
    }
  }
}