
.internal-hero {
  overflow: hidden;
  position: relative;
  min-height: 500px;
  max-height: 500px;
  background: url('/images/display/pw-internal-default.jpg');
  background-size: cover;
  background-position: top center;

  div#images {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .internal-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 85px;
    z-index: 9;

    .internal-title-table {
      display: table;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;

      .internal-title-cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;

        h1 {
          display: inline-block;
          font-family: 'Barrio', cursive;
          font-size: 100px;
          line-height: 100px;
          color: #fff;
        }
      }
    }
  }
}

div.content-internal {
  padding: 70px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;

  strong, b {
    color: #3faac2;
    font-weight: 600;
  }

  a {
    color: #3faac2;
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }
}

div.internal-cta {
  padding: 45px 0;
  background-image: url('/images/display/pw-internal-cta.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  .wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;

    h1,h2,h3,h4,h5,h6 {
      display: inline-block;
      font-family: 'Barrio', cursive;
      font-size: 100px;
      line-height: 1;
      color: #fff;
      margin: 0 auto 24px 0;
    }

    p {
      display: block;
      max-width: 600px;
      margin: 0 auto 30px auto;
      padding: 0;
    }

    a {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 18px;
      padding: 14px 24px;
      background: #3ba5bd;
      letter-spacing: 1px;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        background: #2a7383;
      }
    }
  }
}