
/** Import all FDCMS Styles **/
@import "blog";
@import "forms";
@import "staff";
@import "testimonials";
@import "ctas";
@import "slides";

/** Master Styles **/
body,html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/** Master Headings Styles **/
h1, h2, h3, h4, h5, h6 {

  &.pw-heading {
    font-family: 'Barrio', cursive;
  }
}

/** Header **/
header.header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 50%;

  width: 1200px;
  margin-left: -600px;

  div.header-logo {

    margin: 24px 0 0 18px;

    a {

      img {
        outline: none;
        border: none;
      }
    }

  }

  div.header-nav {

    ul.nav-menu {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;

      li {
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-transform: uppercase;
          display: block;
          padding: 32px 24px;
          font-size: 16px;
          color: #fff;
          text-decoration: none;

          &:hover {
            background-color: #2ea5bd;
            opacity: 0.8;
          }
        }
      }
    }

  }


}

/** Footer **/
footer.footer {
  background-color: #973e84;
  padding: 70px 0;

  .wrapper {
    display: table;
    width: 100%;
    height: 100%;

    .footer-left {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      text-align: left;
      height: 100%;

      span.copyright {
        display: block;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 18px 0;
        text-transform: uppercase;
      }

      span.credit {
        display: block;
        font-size: 12px;
        margin: 0;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-right {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      text-align: right;
      height: 100%;

      div.contact-stack {
        margin: 0 0 34px 0;
        padding: 0 80px 0 0;
        font-size: 12px;
        line-height: 18px;

        background-image: url('/images/display/pw-phone-icon.png');
        background-size: 68px;
        background-position: center right;
        background-repeat: no-repeat;

        span.phone {
          display: block;
          margin: 8px 0 0 0;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 1px;

          a {
            color: #fff;
            text-decoration: none;
          }
        }

        &:last-child {
          margin: 0;
        }

      }
    }
  }

}