/* CSS Document */

body, html { padding: 0; margin: 0; font-size: 14px; font-weight: 400; line-height: 21px; background-color: #fff; }

/* Basic Architecture */
.row { display: block; margin: 0; padding: 0; }
.wrapper { display: block; max-width: 1200px; margin: 0 auto; padding: 0 20px; }

/* Floats and Alignments */
.left { float: left; }
.right { float: right; }
.aleft { text-align: left; }
.aright { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.clear { clear: both; }
.padding { padding: 18px; }

/* Display Types */
.table { display: table; }
.cell { display: table-cell; vertical-align: middle; }
.inline-block { display: inline-block; }

/* Width Constructors */
.full { width: 100%; }
.ninety { width: 88%; }
.eighty { width: 78%; }
.seventyfive { width: 73%; }
.seventy { width: 68%; }
.sixty { width: 58%; }
.fifty { width: 48%; }
.forty { width: 38%; }
.thirty { width: 28%; }
.thirtytrue { width: 30%; }
.twentyfive { width: 23%; }
.twenty { width: 20%; }
.ten { width: 8%; }

/* Positions */
.absolute { postion: absolute; }
.relative { position: relative; }

/* Transitions */
a { -o-transition:.5s; 	-ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; }

/* Basic Fixes */
a img { border: 0; }


/* Tablet Responsive */
@media screen and (max-width:720px) {
 
    /* apply to floated elements to stack them */
    .break-tablet { float: none; width: auto; margin: 12px 0; }
    
}

/* Mobile Responsive */
@media screen and (max-width:400px) {
 
    /* apply to floated elements to stack them */
    .break-mobile { float: none; width: auto; margin: 12px 0; }
    
}