div.homepage-featured {
  padding: 100px 0; }

div.homepage-cta {
  background-image: url("/images/display/pw-homepage-cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  padding: 190px 0;
  text-align: center; }
  div.homepage-cta h2 {
    display: block;
    font-size: 100px;
    line-height: 100px;
    color: #ffffff;
    margin: 0 auto; }
  div.homepage-cta p {
    display: block;
    width: 600px;
    margin: 45px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff; }
  div.homepage-cta a.cta-button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    padding: 14px 24px;
    background: #3ba5bd;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none; }
    div.homepage-cta a.cta-button:hover {
      background: #2a7383; }