.internal-hero {
  overflow: hidden;
  position: relative;
  min-height: 500px;
  max-height: 500px;
  background: url("/images/display/pw-internal-default.jpg");
  background-size: cover;
  background-position: top center; }
  .internal-hero div#images {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
    .internal-hero div#images img {
      width: 100%;
      height: auto; }
  .internal-hero .internal-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 85px;
    z-index: 9; }
    .internal-hero .internal-title .internal-title-table {
      display: table;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center; }
      .internal-hero .internal-title .internal-title-table .internal-title-cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center; }
        .internal-hero .internal-title .internal-title-table .internal-title-cell h1 {
          display: inline-block;
          font-family: 'Barrio', cursive;
          font-size: 100px;
          line-height: 100px;
          color: #fff; }

div.content-internal {
  padding: 70px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300; }
  div.content-internal strong, div.content-internal b {
    color: #3faac2;
    font-weight: 600; }
  div.content-internal a {
    color: #3faac2;
    text-decoration: none; }
    div.content-internal a:hover {
      color: #333; }

div.internal-cta {
  padding: 45px 0;
  background-image: url("/images/display/pw-internal-cta.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center; }
  div.internal-cta .wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff; }
    div.internal-cta .wrapper h1, div.internal-cta .wrapper h2, div.internal-cta .wrapper h3, div.internal-cta .wrapper h4, div.internal-cta .wrapper h5, div.internal-cta .wrapper h6 {
      display: inline-block;
      font-family: 'Barrio', cursive;
      font-size: 100px;
      line-height: 1;
      color: #fff;
      margin: 0 auto 24px 0; }
    div.internal-cta .wrapper p {
      display: block;
      max-width: 600px;
      margin: 0 auto 30px auto;
      padding: 0; }
    div.internal-cta .wrapper a {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 18px;
      padding: 14px 24px;
      background: #3ba5bd;
      letter-spacing: 1px;
      color: #ffffff;
      text-decoration: none; }
      div.internal-cta .wrapper a:hover {
        background: #2a7383; }