/** Import all FDCMS Styles **/
/* CSS Document */
div.blog-entry {
  margin: 0 0 28px 0;
  padding: 0 0 28px 0;
  border-bottom: 1px solid #3faac2; }
  div.blog-entry a .entry-content .blog-title {
    font-family: 'Barrio', cursive;
    font-size: 28px;
    line-height: 28px;
    color: #3faac2; }
  div.blog-entry a .entry-content .blog-desc {
    color: #333; }
  div.blog-entry a:hover .entry-content .blog-title {
    color: #333; }

div.page-form {
  display: block;
  font-size: 14px; }
  div.page-form label {
    display: block;
    padding: 0;
    margin: 0; }
    div.page-form label span {
      display: inline-block;
      padding: 5px 0 0 0;
      font-size: 14px; }
    div.page-form label div.input-wrapper {
      background-color: #efefef;
      padding: 8px;
      margin: 0;
      color: #333;
      border: 1px solid #25aae1; }
  div.page-form input {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #333; }
  div.page-form input[type=checkbox] {
    display: inline-block;
    padding: 0;
    margin: 0 18px 0 0;
    width: auto !important; }
  div.page-form select {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #333; }
  div.page-form textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #333; }

div.std-captcha {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  margin: -8px -8px 8px -8px;
  padding: 8px 8px 0 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px; }

.std-button {
  display: block;
  width: auto !important;
  background: #25aae1 !important;
  color: #fff !important;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 24px 12px 24px !important;
  margin: 0;
  cursor: pointer; }

div.form-error {
  line-height: 22px;
  background-color: #FBE3E4;
  background-image: url("/images/system/error.gif");
  background-repeat: no-repeat;
  background-position: 10px 6px;
  padding: 3px 10px 3px 35px;
  color: #8a1f11;
  border: 1px solid #FBC2C4;
  margin: 8px 0 0 0; }

div.staff-entry {
  display: block;
  margin: 0 0 18px 0;
  padding: 0 0 18px 0;
  border-bottom: 1px solid #25aae1;
  font-size: 14px;
  color: #6d6e71; }
  div.staff-entry:last-of-type {
    border-bottom: none; }
  div.staff-entry div.staff-image {
    float: left; }
    div.staff-entry div.staff-image div.image-wrapper {
      width: 250px;
      /* If we want images locked to a certain ratio */
      /*height: 250px;*/
      /*overflow: hidden;*/ }
      div.staff-entry div.staff-image div.image-wrapper img {
        width: 100%;
        height: auto; }
  div.staff-entry div.staff-info {
    padding: 0 0 0 268px; }

div.staff-name {
  font-size: 18px;
  font-weight: 700;
  color: #25aae1; }

/** Default Media Queries **/
@media screen and (max-width: 500px) {
  div.staff-entry div.staff-image {
    float: none;
    width: auto; }
    div.staff-entry div.staff-image div.image-wrapper {
      width: 100%;
      margin: 0 0 18px 0;
      /* height: 250px; */
      /* overflow: hidden; */ }
  div.staff-entry div.staff-info {
    padding: 0; } }

ul.testimonials-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul.testimonials-list li {
    padding: 24px 0;
    border-bottom: 1px solid #efefef;
    margin: 0;
    font-style: italic; }
    ul.testimonials-list li:last-of-type {
      border-bottom: none; }

ul.cta-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.cta-wrapper li {
    display: inline-block;
    width: 31%;
    margin: 0 1%; }
    ul.cta-wrapper li:first-child {
      margin-left: 0; }
    ul.cta-wrapper li:last-child {
      margin-right: 0; }
    ul.cta-wrapper li a {
      text-decoration: none; }
      ul.cta-wrapper li a .cta-image {
        margin: 0 0 14px 0; }
        ul.cta-wrapper li a .cta-image img {
          max-width: 100%;
          max-height: 100%; }
      ul.cta-wrapper li a .cta-text {
        text-align: center; }
        ul.cta-wrapper li a .cta-text h3 {
          display: block;
          margin: 0 0 18px 0;
          color: #973e84;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 400;
          padding: 0 18px; }
        ul.cta-wrapper li a .cta-text p {
          display: block;
          margin: 0;
          padding: 0 18px;
          color: #4ba2c1;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 300; }

div.flexslider {
  margin: 0; }
  div.flexslider ul.slides li {
    position: relative; }
    div.flexslider ul.slides li div.caption-container {
      display: block;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      div.flexslider ul.slides li div.caption-container div.caption-table {
        display: table;
        width: 100%;
        height: 100%; }
        div.flexslider ul.slides li div.caption-container div.caption-table div.caption-cell {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          div.flexslider ul.slides li div.caption-container div.caption-table div.caption-cell div.slide-caption span.title {
            font-family: 'Barrio', cursive;
            font-size: 100px;
            line-height: 100px;
            color: #fff; }
          div.flexslider ul.slides li div.caption-container div.caption-table div.caption-cell div.slide-caption span.text {
            display: block;
            width: 600px;
            margin: 45px auto;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff; }
          div.flexslider ul.slides li div.caption-container div.caption-table div.caption-cell div.slide-caption a.slide-link {
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            line-height: 18px;
            padding: 14px 24px;
            background: #3ba5bd;
            letter-spacing: 1px;
            color: #ffffff;
            text-decoration: none;
            pointer-events: auto; }
            div.flexslider ul.slides li div.caption-container div.caption-table div.caption-cell div.slide-caption a.slide-link:hover {
              background: #2a7383; }
  div.flexslider .flex-control-nav {
    bottom: 20px;
    z-index: 9; }
    div.flexslider .flex-control-nav li a {
      background: #fff;
      box-shadow: none; }
      div.flexslider .flex-control-nav li a.flex-active {
        background: #973e84; }
  div.flexslider ul.flex-direction-nav a {
    width: 75px;
    height: 36px;
    margin: -18px 0 0;
    background: none;
    cursor: pointer; }
    div.flexslider ul.flex-direction-nav a:before {
      content: ""; }
  div.flexslider ul.flex-direction-nav li.flex-nav-prev a.flex-prev {
    background-image: url("/images/display/slider-prev.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  div.flexslider ul.flex-direction-nav li.flex-nav-next a.flex-next {
    background-image: url("/images/display/slider-next.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  div.flexslider:hover .flex-prev, div.flexslider:hover .flex-next {
    width: 75px;
    height: 36px;
    padding: 0;
    opacity: 1;
    cursor: pointer; }
  div.flexslider:hover .flex-prev {
    left: 20px; }
  div.flexslider:hover .flex-next {
    right: 20px; }

/** Master Styles **/
body, html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif; }

/** Master Headings Styles **/
h1.pw-heading, h2.pw-heading, h3.pw-heading, h4.pw-heading, h5.pw-heading, h6.pw-heading {
  font-family: 'Barrio', cursive; }

/** Header **/
header.header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 50%;
  width: 1200px;
  margin-left: -600px; }
  header.header div.header-logo {
    margin: 24px 0 0 18px; }
    header.header div.header-logo a img {
      outline: none;
      border: none; }
  header.header div.header-nav ul.nav-menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right; }
    header.header div.header-nav ul.nav-menu li {
      display: inline-block; }
      header.header div.header-nav ul.nav-menu li:last-child {
        margin-right: 0; }
      header.header div.header-nav ul.nav-menu li a {
        text-transform: uppercase;
        display: block;
        padding: 32px 24px;
        font-size: 16px;
        color: #fff;
        text-decoration: none; }
        header.header div.header-nav ul.nav-menu li a:hover {
          background-color: #2ea5bd;
          opacity: 0.8; }

/** Footer **/
footer.footer {
  background-color: #973e84;
  padding: 70px 0; }
  footer.footer .wrapper {
    display: table;
    width: 100%;
    height: 100%; }
    footer.footer .wrapper .footer-left {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      text-align: left;
      height: 100%; }
      footer.footer .wrapper .footer-left span.copyright {
        display: block;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 18px 0;
        text-transform: uppercase; }
      footer.footer .wrapper .footer-left span.credit {
        display: block;
        font-size: 12px;
        margin: 0; }
        footer.footer .wrapper .footer-left span.credit a {
          color: #fff;
          text-decoration: none; }
          footer.footer .wrapper .footer-left span.credit a:hover {
            text-decoration: underline; }
    footer.footer .wrapper .footer-right {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      text-align: right;
      height: 100%; }
      footer.footer .wrapper .footer-right div.contact-stack {
        margin: 0 0 34px 0;
        padding: 0 80px 0 0;
        font-size: 12px;
        line-height: 18px;
        background-image: url("/images/display/pw-phone-icon.png");
        background-size: 68px;
        background-position: center right;
        background-repeat: no-repeat; }
        footer.footer .wrapper .footer-right div.contact-stack span.phone {
          display: block;
          margin: 8px 0 0 0;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 1px; }
          footer.footer .wrapper .footer-right div.contact-stack span.phone a {
            color: #fff;
            text-decoration: none; }
        footer.footer .wrapper .footer-right div.contact-stack:last-child {
          margin: 0; }